.swiper-container {

}

.swiper-wrapper {

}

.swiper-pagination {

}

.swiper-button-prev, .swiper-button-next {

}

.swiper-scrollbar {

}

.slideshow-image {
    background-position: center;
    background-repeat: no-repeat;
}

/*Image rendering: Alternative 2 (begin) */
.dz-preview {
    position: absolute;
    top: 0;
    z-index: -1;
}
/*Image rendering: Alternative 2 (end) */