.kn-image-uploader-editor .kn-image-uploader-empty-container, .kn-image-uploader-editor .kn-image-uploader-container {
    width: 100%;
    height: 100%;
    min-height: 20rem;
    min-width: 20rem;
    text-align: center;
}

.kn-image-uploader-editor .kn-image-uploader-container {
    position: absolute;
    top: 0px;
}
