.kn-image-uploader-editor .kn-image-uploader-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.kn-image-uploader-editor .kn-image-uploader-empty-container {
    text-align: center;
}

    .kn-image-uploader-editor .kn-image-uploader-empty-container .dz-uploader {
        min-height: 200px;
        min-width: 200px;
    }
