@using MedioClinic.Models.InlineEditors
@model ImageUploaderEditorViewModel

@{
    string GetContainerClass() =>
        Model.HasImage == true ? "kn-image-uploader-container" : "kn-image-uploader-empty-container";

    // Gets the URL to the ImageUploaderController's action.
    HtmlString GetActionUrl()
    {
        var url = Url.Kentico().AuthenticateUrl(Url.Action("Upload", "ImageUploader", new
        {
            mediaLibraryName = Model.MediaLibraryViewModel.LibraryName,
            mediaLibrarySiteName = Model.MediaLibraryViewModel.LibrarySiteName
        }), false);

        return url;
    }
}

@using (Html.Kentico().BeginInlineEditor("image-uploader-editor", Model.PropertyName,
    new
    {
        @class = "kn-image-uploader-editor",
        data_upload_url = GetActionUrl().ToString(),
        data_allowed_image_extensions = string.Join(",", Model.MediaLibraryViewModel.AllowedImageExtensions)
    }))
{
    <div class="@GetContainerClass()">
        <div class="dz-uploader">
            <div class="dz-message top">
                @Html.Raw(Html.Localize("ImageUploader.Dropzone.DropText"))
            </div>
        </div>
    </div>
}
