@using MedioClinic.Models.InlineEditors
@model SlideshowUploaderEditorViewModel

@{ 
    HtmlString GetActionUrl()
    {
        return Url.Kentico().AuthenticateUrl(Url.Action("Upload", "SlideshowUploader", new
        {
            pageId = Context.Kentico().PageBuilder().PageIdentifier
        }), false);
    }

    string SerializeGuids(IEnumerable<Guid> guids) =>
        string.Concat(guids.Select(guid => "i-" + guid.ToString() + ";"));
}

@using (Html.Kentico().BeginInlineEditor("slideshow-uploader-editor", Model.PropertyName,
    new
    {
        @class = "slideshow-uploader-editor",
        data_image_ids = SerializeGuids(Model.Images.Select(image => image.AttachmentGUID)), // TODO Necessary? We have these via markup ...
        data_upload_url = GetActionUrl().ToString(),
        data_swiper_id = Model.SwiperId
    }))
{
    <div class="swiper-plus">+</div>
    <div class="swiper-minus">-</div>
}