@model MedioClinic.Models.PageViewModel

<div class="container">
    <div class="row">
        <h4>@Html.DisplayFor(m => m.Metadata.Title)</h4>
        @Html.DisplayFor(m => m.UserMessage)
    </div>
</div>