@using MedioClinic.Models.LandingPage

@section Styles {
    @Html.Kentico().PageBuilderStyles()
}

<div>
    @Html.Kentico().EditableArea("top")
</div>

@section Scripts {
    @Html.Kentico().PageBuilderScripts()
}