@section Styles {
    @Html.Kentico().PageBuilderStyles()
}

<div class="section">
    <div class="container">
        @Html.Kentico().EditableArea("top")
    </div>
</div>

@section Scripts {
    @Html.Kentico().PageBuilderScripts()
}
