@section Styles {
    @Html.Kentico().PageBuilderStyles()
}

<div class="section">
    <div class="container">
        <div class="kn-system-messages"></div>
        @Html.Kentico().EditableArea("top")
    </div>
</div>

@section Scripts {
    @Html.Kentico().PageBuilderScripts()
}
