<div class="row section">
    <div class="col l6 m6 s12 kn-section-left">
        @Html.Kentico().WidgetZone()
    </div>
    <div class="col l6 m6 s12 kn-section-right">
        @Html.Kentico().WidgetZone()
    </div>
</div>