<div class="row row--with-cols-padding">
    <div class="section-two-col">
        @Html.Kentico().WidgetZone()
    </div>
    <div class="section-two-col">
        @Html.Kentico().WidgetZone()
    </div>
</div>