@using System.Web.Optimization

@model UI.Models.Shared.PageDto

@section scripts {
    @Scripts.Render("~/Scripts/map.js")
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyBqj371OzjrUb_iYNf4N-sUF_Y1JG8ePGc&callback=initMap")
}

<div class="section kn-section-top">
    <div class="container">
        <!-- Contact us header section -->
        <div class="row">
            <div class="col s12 m12">
                <h1 class="header ">Contact Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col l8 m12 s12">
                <h4 class="contact-header">We are the modern medical clinic in the centre of Boston</h4>
                <p>
                    Our clinic based in Bedford, NH, is a federally qualified health center that has been offering high-quality, comprehensive,
                    and family-oriented primary health care and support services since March 7th, 1935. We are recognized
                    by the National Committee on Quality Assurance as a Patient-Centered Medical Home. We provide health
                    care for a stronger community by serving nearly 20,000 patients annually.
                </p>
            </div>
            <div class="col l3 m12 s12 offset-l1 offset-m0 offset-s0 kn-contact-us-box">
                <!-- <div class="contact-us-box"> -->
                <div class="kn-contact-box-header">
                    <h5>Contact</h5>
                </div>
                <div class="kn-contact-content">
                    7A Kentico St
                    <br>Bedford NH 03110
                    <br>USA, New Hampshire
                    <br>617-600-225
                    <br>info@medio-clinic.com
                </div>
                <!-- </div> -->
                <div class=".kn-contact-us-box-social">
                    facebook twitter icons
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Map Section   -->
        <div class="row">
            <div class="col s12 m12">
                <div id="map" class="kn-map">
                </div>
            </div>
        </div>
    </div>
</div>