<connectionStrings>
  <clear />
  <add name="CMSConnectionString" connectionString="Data Source=NI-13-NTB\SQLSERVER2017;Initial Catalog=TraningMVCMedioClinic12;Integrated Security=False;Persist Security Info=False;User ID=richards;Password=Publicpassword9;Connect Timeout=60;Encrypt=False;Current Language=English;" />
</connectionStrings>
