<connectionStrings>
  <clear />
  <add name="CMSConnectionString" connectionString="Data Source=NF-51-NTB\SQLEXPRESS17;Initial Catalog=TrainingMVC12Beta3;Integrated Security=False;Persist Security Info=False;User ID=lukas;Password=myLocalAdmin12@!;Connect Timeout=60;Encrypt=False;Current Language=English;" />
</connectionStrings>
