<connectionStrings>
  <clear />
  <add name="CMSConnectionString" connectionString="Data Source=localhost;Initial Catalog=MedioClinic;Integrated Security=False;Persist Security Info=False;User ID=username;Password=userpassword;Connect Timeout=60;Encrypt=False;Current Language=English;" />
</connectionStrings>
