
@{
    ViewBag.Title = "Index";
}

<div class="section kn-section-top">


    <div class="kn-header-gradient">
        <div class="container kn-header">
            <h1 class="col l10 m4 s12">Welcome to Medio Clinic</h1>
            <div class="row left">
                <h5 class="col l10 m8 s12 kn-light">
                    The goal of our clinic is to provide the best medical care. For comprehensive health at all times, it
                    is also necessary to maintain a healthy lifestyle.
                </h5>
            </div>
            <div class="row">
                <div class="left">
                    <a href="doctors.html" class="kn-btn-doctors btn waves-effect waves-light red darken-3">Our doctors</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <!-- <h2 class="center light-blue-text text-accent-1">
                        <i class="fas fa-ambulance">&nbsp;</i>
                    </h2> -->
                    <img class="kn-icons kn-center" src="assets/Icons for homepage/Emergency-service.svg" />
                    <h4 class="center">Emergency Service</h4>
                    <p class="light center">
                        We did most of the heavy lifting for you to provide a default stylings that incorporate our custom
                        components. Additionally, we refined animations and transitions to provide a smoother experience
                        for developers.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <!-- <h2 class="center light-blue-text text-accent-1">
                        <i class="fas fa-heartbeat">&nbsp;</i>
                    </h2> -->
                    <img class="kn-icons kn-center" src="assets/Icons for homepage/Cardio-therapy.svg" />
                    <h4 class="center">Cardio Therapy</h4>
                    <p class="light center">
                        Our expert cardiologists provide you the tools you need to live a heart healthy life. We are committed
                        to helping our patients return to the highest level of cardiovascular health, performance, and
                        well-being.
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <!-- <h2 class="center light-blue-text text-accent-1">
                        <i class="fas fa-user-md">&nbsp;</i>
                    </h2> -->
                    <img class="kn-icons kn-center" src="assets/Icons for homepage/Medical-consultancy.svg" />
                    <h4 class="center">Medical Consultancy</h4>
                    <p class="light center">
                        With our wide range of experts, we believe MEDIO Clinic can provide innovative and cost effective
                        solutions, services, and expertise you require for your health care needs. Our Medical Team currently
                        consists of 20 board-certified physicians with vast experience in their fields.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

