@model MedioClinic.Models.PageViewModel<MedioClinic.Models.Home.HomeViewModel>

<div class="section kn-section-top">


    <div class="kn-header-gradient">
        <div class="container kn-header">
            <h1 class="col l10 m4 s12">Welcome to Medio Clinic</h1>
            <div class="row left">
                <h5 class="col l10 m8 s12 kn-light">
                    The goal of our clinic is to provide the best medical care. For comprehensive health at all times, it
                    is also necessary to maintain a healthy lifestyle.
                </h5>
            </div>
            <div class="row">
                <div class="left">
                    <a href="doctors.html" class="kn-btn-doctors btn waves-effect waves-light red darken-3">Our doctors</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Data.CompanyServices != null)
{
    <div class="container">
        <div class="section">
            <div class="row">
                @foreach (var service in Model.Data.CompanyServices)
                {<div class="col s12 m4">
                        <div class="icon-block">
                            <img class="kn-icons kn-center" src="@Url.Kentico().ImageUrl(service.IconPath, SizeConstraint.Empty)" />
                            <h4 class="center">@service.Header</h4>
                            <p class="light center">
                                @service.Text
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br>
        <br>
    </div>

}
